#main-div {
  width: 100%;
  height: 100%;
}

md-autocomplete{width:100%;}

.cardbox{
  padding:10px;
  width:100%;
  margin:25px auto;
  background-color:#eee;
  font-size: 13px
}
.cardbox img{
  width: 160px;
  height:auto;
  position:relative;
  top:-17px;
}
.cardbox .img-container{
  width:160px;
  height:260.5px;
}

.search-spot{
  min-height:405px;
}

.deck-box img{
  width:110px;
  height:auto;
}
