#main-div {
  width: 100%;
  height: 100%;
}

md-autocomplete{width:100%;}

.cardbox{
  padding:10px;
  width:100%;
  margin:25px auto;
  background-color:#eee;
  font-size: 13px
}
.cardbox img{
  width: 160px;
  height:auto;
  position:relative;
  top:-17px;
}
.cardbox .img-container{
  width:160px;
  height:260.5px;
}

.search-spot{
  min-height:405px;
}

.deck-box img{
  width:110px;
  height:auto;
}
.player-class button{
  overflow: hidden;
  width:120px;
  height:120px;
  border-radius: 50%;
}

.player-class img{
  width:140px;
  height:auto;
  position:absolute;
  top:-10px;
  left:-10px;
  filter: blur(8px);
  z-index:0;
}

.player-class p{
  color: white;
  font-weight:bold;
  font-size:22px;
  display:block;
  position: relative;
  text-shadow:2px 2px 5px #222;
  z-index:1;
  transition: opacity 500ms;
}

.player-class:hover img,.player-class.selected img{
  filter:blur(0);
}
.player-class:hover p,.player-class.selected p{
  opacity: 0
}
