<div layout='column' layout-fill class='md-padding card-search'>
  <md-autocomplete md-search-text="vm.searchText" md-selected-item-change="vm.selectCard(item)" md-items="item in vm.queryCards(vm.searchText)" md-item-text="item.name" md-min-length="2" md-delay='200' placeholder="card">
    <md-item-template>
      <div layout='row'>
        <span flex md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}}</span>
        <span>{{item.playerClass}}</span>
      </div>
    </md-item-template>
    <md-not-found>
      No cards matching "{{vm.searchText}}" were found.
    </md-not-found>
  </md-autocomplete>
  <div ng-show='vm.selectedCard' class='cardbox' layout='row' ng-style=''>
    <div flex>
      <h4>{{vm.selectedCard.name}}</h4>
      <p>
        <md-button class="md-fab" aria-label="{{vm.selectedCard.value}}" ng-style='{"background-color":vm.getTier().color}'>
          {{vm.selectedCard.value}}
        </md-button>
        {{vm.getTier().label}}
      </p>
      <p>
        Type: {{vm.selectedCard.type}}
        <br/>Cost: {{vm.selectedCard.cost}}
        <br/>Rarity: {{vm.selectedCard.rarity}}
        <br/>Card Set: {{vm.selectedCard.cardSet}}
        <br/><span ng-if='vm.selectedCard.playerClass'>{{vm.selectedCard.playerClass}}</span>
      </p>
      <p><i>{{vm.selectedCard.flavor}}</i></p>

    </div>
    <div>
      <img ng-src='{{vm.selectedCard.img}}' imageonload loaded='vm.imgLoaded()' ng-show='vm.imgIsLoaded' />
    </div>
  </div>
</div>
