<div layout='row' layout-align='center center' layout-fill class='md-padding'>
  <div flex='30' layout='column' layout-fill class='md-padding'>
    <md-autocomplete md-search-text="vm.searchText" md-selected-item-change="vm.selectCard(item)" md-items="item in vm.queryCards(vm.searchText)" md-item-text="item.name" md-min-length="2" placeholder="card">
      <md-item-template>
        <div layout='row'>
          <span flex md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}}</span>
          <span>{{item.cardSet}}</span>
        </div>
      </md-item-template>
      <md-not-found>
        No cards matching "{{vm.searchText}}" were found.
      </md-not-found>
    </md-autocomplete>
    <div ng-show='vm.selectedCard' class='cardbox' layout='row'>
      <div flex>
        <h3>{{vm.selectedCard.name}}</h3>
        <p>
          Type: {{vm.selectedCard.type}}
          <br/>Cost: {{vm.selectedCard.cost}}
          <br/>Rarity: {{vm.selectedCard.rarity}}
          <br/>Card Set: {{vm.selectedCard.cardSet}}
        </p>
      </div>
      <div>
        <img ng-src='{{vm.selectedCard.img}}' imageonload loaded='vm.imgLoaded()' ng-show='vm.imgIsLoaded'/>
      </div>
    </div>
  </div>
</div>
