<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span>Arena Helper</span>
    </h2>
    <span flex></span>
    <md-menu md-offset='0 45'>
      <md-button aria-label="Open phone interactions menu" class="md-raised" ng-click="vm.openMenu($mdOpenMenu, $event)">
        <span md-menu-origin>Selected Class : {{vm.selectedClass}}</span>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item ng-repeat='class in vm.info.classes'>
          <md-button ng-click="vm.selectClass(class)">
            {{class}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<md-divider></md-divider>
<md-content class='md-padding' layout='row'>
  <md-button class="md-fab md-primary" aria-label="Step 1">1</md-button>
  <h2>Select Class</h2>
</md-content>
<md-content class='md-padding' layout='row' layout-wrap layout-align='center center'>
  <div class='player-class' ng-repeat='class in vm.info.classes' ng-class="{selected : vm.selectedClass === class}" >
    <md-button ng-click='vm.selectClass(class)' md-class='md-fab' aria-label='Select {{class}}'>
      <img ng-src='/images/player-classes/{{class}}.jpg' />
      <p>{{class}}</p>
    </md-button>
  </div>
</md-content>
<md-divider></md-divider>
<div layout='row' class='md-padding search-spot'>
  <card-search flex ng-repeat='slot in vm.searchSlots' choose-card='vm.chooseCard' selected-card='slot.selected' search-text='slot.searchText'></card-search>
</div>
<div class='md-padding' ng-show='vm.deck.length'>
  <h3>Deck</h3>
  <md-content flex layout='row' layout-wrap>
    <div ng-repeat='card in vm.deck' class='deck-box'>
      <img ng-src='{{card.img}}' />
    </div>
  </md-content>
</div>
